.container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}
.headerImage{
    height: 80vh;
    width: 33vw;
    background-size: cover;
    background-position: center;
}
.mens,.womens,.accessories{
    position: relative;
    
}
.link{
    color: #fff;
    text-decoration: none;
}
.mens:hover{
    transition: all 1s ease;
}
.mens::before,.womens::before,.accessories::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Adjust the opacity (0.5) to your preference */
    
    transition: all 0.6s ease;
}
.mens:hover::before,.womens:hover::before,.accessories:hover::before{
    opacity: 0.7;
}
.headerImage:hover{
}
.btn{
    position: absolute;
    z-index: 3;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #4214CC;
    color: #fff;
    border: none;
    padding:1rem 2.5rem;
    opacity: 0;
}
.mens:hover > .btn,.womens:hover > .btn,.accessories:hover > .btn{
   opacity: 1;
    transition: all 0.7s ease;

}