.navbar{
    display: flex;
    padding: 2rem 4rem;
    justify-content: space-between;
    height: 5vh;
    align-items: center;
    border-bottom: 1px solid rgba(39, 34, 34, 0.1);
    box-shadow: 1px 2px 5px 2px rgba(39, 34, 34, 0.1);
    /* background-color: rebeccapurple; */
}
.logo{
    height: 7rem;
}
.navLinks{
    display: flex;
    align-items: center;
}
.navLinks li{
    list-style: none;
    margin: 0 2rem;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
}
.navLinks li:hover{
    
    color: #4214CC;
    transition: all 0.4s ease;
}
.searchBar{
    height: 2rem;
    width: 15rem;
    border: none;
    border-bottom: 2px solid rgba(39, 34, 34, 0.1);
    background: white;
    font-weight: bold;
}
.searchBar:focus{
    border-bottom: 3px solid #4214CC;
    width: 20rem;
    outline: 0;
    transform-origin: center;
    transition: all 0.5s ease;
}
.searchBtn{
    margin-left: 1rem;
    background-color: #4214CC;
    color: white;
    border: none;
    padding: 0.7rem 1.5rem;
    border-radius: 1.5rem;
}
.cartlink{
    position: relative;
    margin-right: 0.5rem;
}
.cartlinktext{
    font-size: 0.5rem;
    color: #fff;
    background-color: #4214CC;
    padding: 0.1rem 0.3rem;
    border-radius: 1rem;
    position: absolute;
    top: -0.2rem;
    right: -0.5rem;
}